// Sizes
$max-width: 800px;
$avatar-size: 250px;

// Colors
$black: #F8F8F2;
$background: #44475A;
$background-color: #0f021a;
$red: #FFB86C;
$publications: #50FA7B;
$working: #FFB86C;
$conferences: #BD93F9;

// Buttons
$paper: #F1FA8C;
$code: #FF79C6;
//$red: #dc3545;
//$red: #014240
